[Unit]
Description=GesturaX Gesture Control System
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/GESTURAX
ExecStart=/usr/bin/python3 /home/pi/GESTURAX/main.py
Restart=always

[Install]
WantedBy=multi-user.target
